<div class="card-container p-5 ">
  <div class="card ">
      <div class="card-body">
        <img class="card-img-top  rounded-circle img-container" src="assets/people/codrin.jpg" >

        <div class="card-title">
        <h5 class=" border-bottom pb-3">x-ulescu </h5>
          <h6> Professional hotdog eater</h6>
        </div>
        <p class="card-text"> E</p>
      </div>
    </div>
  <div class="card ">
    <div class="card-body">
      <img class="card-img-top  rounded-circle img-container" src="assets/people/codrin.jpg" >

      <div class="card-title">
        <h5 class=" border-bottom pb-3">x-ulescu </h5>
        <h6> Professional hotdog eater</h6>
      </div>
      <p class="card-text"> E</p>
    </div>
  </div>
  </div>

