<div
  class="container"
  [formGroup]="startupForms"
>
  <div
    *ngFor="let startup of startups; let i=index"
    formArrayName="startups"
  >
    <form [formGroupName]="i">
      <fieldset>
        <div class="form-group row">
          <label
            class="col-sm-2 col-form-label"
            for="'name-'{{i}}"
          >Name</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="'name-'{{i}}"
              formControlName="name"
            >
          </div>
        </div>
        <div class="form-group row">
          <label
            class="col-sm-2 col-form-label"
            for="'filters-'{{i}}"
          >Filters</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="'filters-'{{i}}"
              formControlName="filters"
            >
          </div>
        </div>
        <div class="form-group row">
          <label
            class="col-sm-2 col-form-label"
            for="'status-'{{i}}"
          >Status</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="'status-'{{i}}"
              formControlName="status"
            >
          </div>
        </div>
        <div class="form-group row">
          <label
            class="col-sm-2 col-form-label"
            for="'description-'{{i}}"
          >Description</label>
          <div class="col-sm-10">
            <textarea
              type="text"
              class="form-control"
              id="'description-'{{i}}"
              formControlName="description"
            >
            </textarea>
          </div>
        </div>
        <div class="form-group row">
          <label
            class="col-sm-2 col-form-label"
            for="'tags-'{{i}}"
          >Tags</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="'tags-'{{i}}"
              formControlName="tags"
            >
          </div>
        </div>
        <div class="form-group row">
          <label
            class="col-sm-2 col-form-label"
            for="'logo-'{{i}}"
          >Logo</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="'logo-'{{i}}"
              formControlName="logo"
            >
          </div>
        </div>
        <div class="form-group row">
          <label
            class="col-sm-2 col-form-label"
            for="'angellist-'{{i}}"
          >Angellist</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="'angellist-'{{i}}"
              formControlName="angellist"
            >
          </div>
        </div>
        <div class="form-group row">
          <label
            class="col-sm-2 col-form-label"
            for="'crunchbase-'{{i}}"
          >Crunchbase</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="'crunchbase-'{{i}}"
              formControlName="crunchbase"
            >
          </div>
        </div>
        <div class="form-group row">
          <label
            class="col-sm-2 col-form-label"
            for="'facebook-'{{i}}"
          >Facebook</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="'facebook-'{{i}}"
              formControlName="facebook"
            >
          </div>
        </div>
        <div class="form-group row">
          <label
            class="col-sm-2 col-form-label"
            for="'twitter-'{{i}}"
          >Twitter</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="'twitter-'{{i}}"
              formControlName="twitter"
            >
          </div>
        </div>
        <div class="form-group row">
          <label
            class="col-sm-2 col-form-label"
            for="'linkedin-'{{i}}"
          >Linkedin</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="'linkedin-'{{i}}"
              formControlName="linkedin"
            >
          </div>
        </div>
        <div class="form-group row">
          <label
            class="col-sm-2 col-form-label"
            for="'website-'{{i}}"
          >Website</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="'website-'{{i}}"
              formControlName="website"
            >
          </div>
        </div>
        <div class="form-group row">
          <label
            class="col-sm-2 col-form-label"
            for="'email-'{{i}}"
          >Email</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="'email-'{{i}}"
              formControlName="email"
            >
          </div>
        </div>
        <div class="form-group row">
          <label
            class="col-sm-2 col-form-label"
            for="'people-'{{i}}"
          >People</label>
          <!-- <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="'tags-'{{i}}"
              formControlName="tags"
            >
          </div> -->
        </div>
        <div class="form-group row">
          <label
            class="col-sm-2 col-form-label"
            for="'lastUpdated-'{{i}}"
          >Last Updated</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="'lastUpdated-'{{i}}"
              formControlName="lastUpdated"
            >
          </div>
        </div>
        <div class="form-group row">
          <label
            class="col-sm-2 col-form-label"
            for="'lastActivity-'{{i}}"
          >Last Activity</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="'lastActivity-'{{i}}"
              formControlName="lastActivity"
            >
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
