<div class="container-fluid">
  <div class="image-container ">
    <a href="startups">
      <img alt="startups-pic" class="image" src="assets/people/template.jpg">
    </a>
  <div class="image-caption">
    <p> Startups</p>
  </div>
  </div>

  <div class="image-container">
    <a href="startups">
      <img alt="heroes-pic" class="image" src="assets/people/template.jpg">
    </a>
  </div>

  <div class="image-container ">
    <a href="startups">
      <img alt="products-pic" class="image" src="assets/people/template.jpg">
    </a>
  </div>

</div>
