<div class="container-fluid">
  <div (click)="logStartups()" class="image-container ">

    <a href="startups">
      <img alt="startups-pic" class="image" src="assets/people/template.jpg">
    </a>
  <div class="image-caption">
    <p> Startups</p>
  </div>
  </div>

  <div class="image-container ">
    <a href="startups">
      <img alt="startups-pic" class="image" src="assets/people/template.jpg">
    </a>
    <div class="image-caption">
      <p> Our Heroes</p>
    </div>
  </div>
  <div class="image-container ">
    <a href="startups">
      <img alt="startups-pic" class="image" src="assets/people/template.jpg">
    </a>
    <div class="image-caption">
      <p> Products made in Timisoara</p>
    </div>
  </div>

</div>
