<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a
    class="navbar-brand"
    [routerLink]="[menuItems[0].path]"
    routerLinkActive='active'
  >{{ menuItems[0].name }}</a>
  <button
    class="navbar-toggler"
    type="button"
    (click)="toggleShowSmallScreen()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    [ngClass]="{ show: showSmallScreen }"
    id="navbarColor01"
  >
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item"
        *ngFor="let item of menuItems; let i = index"
      >
        <a
          *ngIf="i !== 0"
          class="nav-link"
          [routerLink]="[item.path]"
          routerLinkActive='active'
        >{{
          item.name
        }}</a>
      </li>
    </ul>
  </div>
</nav>
