<ngb-carousel
  class="hero-carousel"
  [showNavigationIndicators]="false"
  [showNavigationArrows]="false"
  [interval]="10000"
  [keyboard]="false"
>
  <ng-template ngbSlide>
    <img
      src="https://i.picsum.photos/id/787/1920/1080.jpg"
      alt="Random
first slide"
    />
    <div class="carousel-caption">
      <h3>First slide label</h3>
      Nulla vitae elit libero, a pharetra augue mollis interdum.
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img
      src="https://i.picsum.photos/id/308/1920/1080.jpg"
      alt="Random second slide"
    />
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img
      src="https://i.picsum.photos/id/334/1920/1080.jpg"
      alt="Random third slide"
    />
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      Praesent commodo cursus magna, vel scelerisque nisl consectetur.
    </div>
  </ng-template>
</ngb-carousel>
