<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Keep up to date</h1>
    <p class="lead">Subscribe to our newsletter to stay in touch with latest whatever.</p>
    <hr class="my-4">
    <form>
      <fieldset>
        <div class="form-group row">
          <div class="col-sm-2">
            <input
              type="text"
              class="form-control"
              id="inputFirstName"
              value="John"
              placeholder="Enter first name"
            >
          </div>
          <div class="col-sm-2">
            <input
              type="text"
              class="form-control"
              id="inputLastName"
              value="Doe"
              placeholder="Enter last name"
            >
          </div>
          <div class="col-sm-2">
            <input
              type="email"
              class="form-control"
              id="inputEmail"
              value="email@example.com"
              placeholder="Enter email"
            >
          </div>
          <div class="col-sm-1">
            <button
              type="submit"
              class="btn btn-primary"
            >Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
