<ngb-carousel
  class="small-carousel container"
  [showNavigationIndicators]="false"
  [interval]="0"
>
  <ng-template ngbSlide>
    <img
      src="https://i.picsum.photos/id/684/350/200.jpg"
      alt="Random first slide"
    />
    <img
      src="https://i.picsum.photos/id/4/350/200.jpg"
      alt="Random second slide"
    />
    <img
      src="https://i.picsum.photos/id/593/350/200.jpg"
      alt="Random third slide"
    />
    <div class="carousel-caption">
      <div>
        <h3>Idea stage</h3>
        Information
      </div>
      <div>
        <h3>Idea stage</h3>
        People
      </div>
      <div>
        <h3>Idea stage</h3>
        Events
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img
      src="https://i.picsum.photos/id/4/350/200.jpg"
      alt="Random second slide"
    />
    <img
      src="https://i.picsum.photos/id/684/350/200.jpg"
      alt="Random first slide"
    />
    <img
      src="https://i.picsum.photos/id/593/350/200.jpg"
      alt="Random third slide"
    />
    <div class="carousel-caption">
      <div>
        <h3>Launch stage</h3>
        Information
      </div>
      <div>
        <h3>Launch stage</h3>
        People
      </div>
      <div>
        <h3>Launch stage</h3>
        Events
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img
      src="https://i.picsum.photos/id/684/350/200.jpg"
      alt="Random first slide"
    />
    <img
      src="https://i.picsum.photos/id/593/350/200.jpg"
      alt="Random third slide"
    />
    <img
      src="https://i.picsum.photos/id/4/350/200.jpg"
      alt="Random second slide"
    />
    <div class="carousel-caption">
      <div>
        <h3>Growth stage</h3>
        Information
      </div>
      <div>
        <h3>Growth stage</h3>
        People
      </div>
      <div>
        <h3>Growth stage</h3>
        Events
      </div>
    </div>
  </ng-template>
</ngb-carousel>
