:host {
  ngb-carousel.small-carousel::ng-deep {
    .carousel-item.active {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      > .carousel-caption {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        left: 0;
        padding: 10px;
        bottom: 30px;
        > div {
          max-width: 350px;
          max-height: 200px;
          background-color: rgba(44, 62, 80, 0.4);
          cursor: pointer;
          > h3 {
            padding: 5px;
          }
        }
      }
    }
    .carousel-control-next,
    .carousel-control-prev {
      z-index: 10;
    }

    @media (max-width: 768px) {
      .carousel-item.active {
        flex-flow: column nowrap;
        justify-content: space-around;
        background-color: rgba(44, 62, 80, 0.2);
        > img {
          margin: 0 auto;
        }
        > .carousel-caption {
          flex-flow: column nowrap;
          width: initial;
          height: 100%;
          left: 15%;
          bottom: 0;
        }
      }
    }
  }
}
