<ngb-carousel class="hero-carousel">
  <ng-template ngbSlide>
    <img
      src="https://i.picsum.photos/id/787/1920/1080.jpg"
      alt="Random first slide"
    >
    <div class="carousel-caption">
      <h3>Developing a startup</h3>
      For every new idea and opportunity, there is a process that helps you get up to speed
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img
      src="https://i.picsum.photos/id/308/1920/1080.jpg"
      alt="Random second slide"
    >
    <div class="carousel-caption">
      <h3>Growing a startup</h3>
      After the first clients, the team is what matters the most
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img
      src="https://i.picsum.photos/id/334/1920/1080.jpg"
      alt="Random third slide"
    >
    <div class="carousel-caption">
      <h3>Sustaining further growth</h3>
      Are you thinking of external financing and further growing your product’s reach?
    </div>
  </ng-template>
</ngb-carousel>
