:host {
  ngb-carousel.hero-carousel::ng-deep {
    .carousel-item.active {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      height: calc(100vh - 50px);
      > .carousel-caption {
        background-color: rgba(44, 62, 80, 0.4);
      }
    }
  }
}
