<ngb-carousel class="hero-carousel">
  <ng-template ngbSlide>
    <img class="carousel-image"
      src="assets/people/template.jpg"
      alt="Random first slide"
    >
    <div class="carousel-caption">
      <h3>The place to meet all creative businesses in Timisoara</h3>
    </div>
  </ng-template><ng-template ngbSlide>
    <img class="carousel-image"
      src="assets/people/template.jpg"
      alt="Random first slide"
    >
    <div class="carousel-caption">
      <h3>Developing a startup</h3>
      For every new idea and opportunity, there is a process that helps you get up to speed
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img
      src="assets/people/template.jpg"
      alt="Random second slide"
    >
    <div class="carousel-caption">
      <h3>Growing a startup</h3>
      After the first clients, the team is what matters the most
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img
      src="assets/people/template.jpg"
      alt="Random third slide"
    >
    <div class="carousel-caption">
      <h3>Sustaining further growth</h3>
      Are you thinking of external financing and further growing your product’s reach?
    </div>
  </ng-template>
</ngb-carousel>
